/* common classes start */
body{background-color:#fff}
#wrap{background-color:#fff}
.inner{position:relative;width:1100px;margin:0 auto}
.container{position:relative;width:100%}
.sub_cont{position:relative;width:100%;padding:100px 0}
.sub_ttl{display:inline-block;position:relative;padding-bottom:8px;color:#333;font-size:24px}
.sub_ttl:after{display:block;content:"";position:absolute;bottom:0;left:0;width:100%;height:2px;background-color:#333}
.sub_txt{padding-top:15px;color:#333;font-size:14px;line-height:135%}
.sub_txt:first-child{padding-top:0}
.list_ttl{display:block;position:relative;padding:0 0 15px 16px;color:#333;font-size:18px;line-height:100%}
.list_ttl:before{display:block;content:"";position:absolute;top:6px;left:0;width:8px;height:8px;background-color:#333}
.m_gnb_dimm{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:10;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.75)}

@media screen and (max-width:1120px) {
	.inner{width:100%;padding:0 20px;-webkit-box-sizing:border-box;box-sizing:border-box}
	.sub_cont{padding:50px 0}
	.sub_ttl{padding-bottom:6px;font-size:16px}
	.sub_ttl:after{height:1px}
	.sub_txt{padding-top:10px;font-size:12px}
	.list_ttl{padding:0 0 10px 10px;font-size:14px}
	.list_ttl:before{top:4px;width:6px;height:6px}
}

@media screen and (max-width:960px) {
	.inner{padding:0 12px}
	.sub_cont{padding:30px 0}
}
/* //common classes end */

/* header start */
#header{position:absolute;top:0;left:0;bottom:0;right:0;z-index:20;width:100%;height:60px;background-color:rgba(0, 0, 0, 0.3);-webkit-box-sizing:border-box;box-sizing:border-box;transition:background-color .75s;-webkit-transition:background-color .75s}
#header.fixed{position:fixed;background-color:#003554}
.logo{position:absolute;top:0;left:0}
.logo > a{display:inline-block;width:35px;height:60px;text-indent:-10000px;background-image:url("../img/logo.png");background-repeat:no-repeat;background-size:35px 25px;background-position:50% 50%}
.gnb_nav.web{position:absolute;top:0;right:0}
.gnb_nav{z-index:30}
.gnb > li{float:left;margin-left:20px}
.gnb > li:first-child{margin-left:0}
.gnb > li > a{display:block;color:#fff;font-size:14px;line-height:60px}
.gnb > li > a:hover{color:#ccc}
.btn_gnb{display:none}
.gnb_nav.web .btn_gnb_close{display:none}

@media screen and (max-width:1120px) {
	#header{height:50px}
	.logo{left:20px}
	.logo > a{width:35px;height:50px}
	.gnb_nav.web{right:20px}
	.gnb > li{margin-left:15px}
	.gnb > li > a{font-size:12px;line-height:50px}
}

@media screen and (max-width:960px) {
	.logo{left:50%;margin-left:-18px}
	.gnb_nav.mobile{position:fixed;top:0;right:auto;left:-320px;width:320px;height:100%}
	.gnb_inner{overflow:hidden;position:relative;width:270px;background-color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box}
	.gnb > li{float:none;height:50px;margin-left:0;border-top:1px solid #ddd;-webkit-box-sizing:border-box;box-sizing:border-box}
	.gnb > li:first-child{border-top:0}
	.gnb > li > a{padding:0 12px;color:#333;line-height:49px}
	.btn_gnb.on{display:block;position:absolute;top:0;left:0;z-index:20;width:50px;height:50px;text-indent:-10000px;background-image:url("../img/btn_stm.png");background-repeat:no-repeat;background-size:75px 75px;background-position:50% 50%}
	.gnb_nav.mobile .btn_gnb_close{display:block;position:absolute;top:0;right:0;z-index:30;width:50px;height:50px;text-indent:-10000px;background-image:url("../img/btn_stm_close.png");background-repeat:no-repeat;background-size:75px 75px;background-position:50% 50%;-webkit-box-sizing:border-box;box-sizing:border-box}
}
/* //header end */

/* visual start */
.visual{position:relative;width:100%;background-image:url("../img/visual.jpg");background-repeat:no-repeat;background-position:50% 50%;background-size:cover}
.visual_txt_box{position:absolute;top:50%;left:50%;width:50%;margin-left:-25%;padding:50px;background-color:rgba(255, 255, 255, 0.75);-webkit-box-sizing:border-box;box-sizing:border-box}
.visual_ttl{color:#333;font-size:24px;line-height:135%;text-align:center}
.visual_txt{padding-top:25px;color:#333;font-size:14px;line-height:135%}

@media screen and (max-width:1120px) {
	.visual_txt_box{width:60%;margin-left:-30%;padding:30px}
	.visual_ttl{font-size:18px}
	.visual_txt{padding-top:15px;font-size:12px}
}

@media screen and (max-width:640px) {
	.visual_txt_box{width:90%;margin-left:-45%;padding:15px}
	.visual_ttl{font-size:16px}
	.visual_txt{padding-top:10px}
}
/* //visual end */

/* about start */
.about_txt_area{padding:50px 0}
.about_list{position:relative}
.about_list > li{margin-top:50px;width:50%;-webkit-box-sizing:border-box;box-sizing:border-box}
.about_list > li:first-child{margin-top:30px}
.about_list > li > dl{position:relative;width:100%;padding-left:35%;margin-top:15px;-webkit-box-sizing:border-box;box-sizing:border-box}
.about_list > li > dl > dt{position:absolute;top:0;left:0;width:35%;color:#333;font-size:14px;line-height:100%}
.about_list > li > dl > dd{color:#333;font-size:12px;line-height:14px}
.about_list > li > dl > dd > a{line-height:14px}
.about_list .type, .about_list .date{color:#333;font-size:12px;line-height:14px}
.about_list .type{float:left}
.about_list .date{float:right}
.activities_list > li{margin-top:15px}
.activities_txt{color:#333;font-size:14px}
.skill_list > li{margin-top:15px;color:#333;font-size:14px;line-height:100%}

@media screen and (max-width:1120px) {
	.about_txt_area{padding:30px 0}
	.about_list > li{margin-top:30px;width:100%}
	.about_list > li:first-child{margin-top:15px}
	.about_list > li > dl{margin-top:10px}
	.about_list > li > dl > dt{font-size:12px}
	.about_list > li > dl > dd{font-size:11px;line-height:12px}
	.about_list > li > dl > dd > a{line-height:12px}
	.about_list .type, .about_list .date{font-size:11px;line-height:12px}
	.skill_list > li{margin-top:10px;font-size:12px}
}

@media screen and (max-width:960px) {
	.about_list > li > dl{padding-left:0}
	.about_list > li > dl > dt{display:block;position:relative;width:100%;padding-bottom:5px}
	.about_list .type{float:none}
	.about_list .date{float:none;padding-top:5px}
}
/* //about end */

/* portfolio start */
.pf_list{padding-top:50px}
.pf_list > li{float:left;width:50%;margin-top:50px}
.pf_list > li.mt_none{margin-top:0}
.pf_txt_area > p, .pf_txt_area > a{padding-top:15px;color:#333;font-size:14px}
.pf_txt_area > p.pf_ttl{padding-top:0;padding-bottom:15px;font-size:18px}
.pf_txt_area > a{display:inline-block;padding:10px;margin-top:20px;color:#003554;background-color:#fff;border:1px solid #003554;-webkit-box-sizing:border-box;box-sizing:border-box}
.pf_txt_area > a:hover{color:#fff;background-color:#003554}

@media screen and (max-width:1120px) {
	.pf_list{padding-top:30px}
	.pf_list > li{width:100%;margin-top:30px}
	.pf_list > li.mt_none{margin-top:30px}
	.pf_list > li:first-child{margin-top:0}
	.pf_txt_area > p, .pf_txt_area > a{padding-top:10px;font-size:12px}
	.pf_txt_area > p.pf_ttl{padding-bottom:10px;font-size:14px}
	.pf_txt_area > a{padding:5px;margin-top:15px}
}
/* //portfolio end */

/* study start */
.study_list{padding-top:50px}
.study_list > li{margin-top:30px}
.study_list > li:first-child{margin-top:0}
.study_txt_area{padding-top:15px}
.study_txt_area > a{display:block;float:left;color:#333;font-size:14px;line-height:100%}
.study_txt_area > .study_date{float:right;color:#333;font-size:12px;line-height:14px}

@media screen and (max-width:1120px) {
	.study_list{padding-top:30px}
	.study_txt_area{padding-top:10px}
	.study_txt_area > a{float:none;font-size:12px}
	.study_txt_area > .study_date{float:none;padding-top:5px;font-size:11px;line-height:100%;text-align:right}
}
/* //study end */

/* footer start */
#footer{position:relative;width:100%;height:60px;border-top:1px solid #ddd;background-color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box}
.copy{color:#333;font-size:12px;line-height:59px;text-align:center}

@media screen and (max-width:1120px) {
	#footer{height:50px}
	.copy{font-size:11px;line-height:49px}
}
/* //footer end */